[user]
  name = zedonarch
  email = zedonix@proton.me
[init]
  defaultBranch = main
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
[pager]
  branch = true
  diff = delta
  log = delta
  show = delta
  blame = delta
[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false
[core]
  preloadindex = true
  fscache = true
  pager = delta
  editor = nvim
[pull]
    rebase = true
[alias]
  lg = log --graph --oneline --decorate --all
  st = status -s
  sta = status
  cm = commit
  co = checkout
  rh = reset HEAD
  aa = add -A
  br = branch
  bra = branch -a
[color]
  ui = auto
[interactive]
  diffFilter = delta --color-only

[delta]
  dark = true
  navigate = true
  line-numbers = true
  syntax-theme = gruvbox-dark
  true-color = always
[merge]
  conflictStyle = zdiff3
